<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galileo Galilei :: Educación</title>

    <link href="../styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="#">Educación</a></li>
            <li><a href="#">Proyectos e intereses</a></li>
            <li><a href="#">Recomendaciones</a></li>
        </ul>
    </nav>

    <article>

        <section id="about">
            <h1 class="title">Educación</h1>

            <h3 class="role">...</h3>

            <p>Under construction...</p>
        </section>

        <section id="contact">
            <h3>Contacto</h3>

            <nav>
                <ul>
                    <li><a href="mailto:galileo@galilei.org">Email</a></li>
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://github.com/dbautistav/cv">GitHub</a></li>
                </ul>
            </nav>
        </section>

    </article>
</div>

</body>
</html>
