<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galileo Galilei :: Experiencia</title>

    <link href="styles/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="#">Experiencia</a></li>
            <li><a href="educacion.html">Educación</a></li>
            <li><a href="#">Proyectos e intereses</a></li>
            <li><a href="#">Recomendaciones</a></li>
            <li><a href="extras.html">Extras</a></li>
        </ul>
    </nav>

    <article>

        <section id="about">
            <h1 class="title">Experiencia</h1>


        </section>

        <section id="contact">
            <h3>Contacto</h3>

            <nav>
                <ul>
                    <li><a href="mailto:galileo@galilei.org">Email</a></li>
                    <li><a href="https://twitter.com">Twitter</a></li>
                    <li><a href="https://github.com/dbautistav/cv">GitHub</a></li>
                </ul>
            </nav>
        </section>

    </article>
</div>

</body>
</html>
