<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galileo Galilei :: Extras</title>

    <link href="styles/custom.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="educacion.html">Educación</a></li>
            <li><a href="#">Proyectos e intereses</a></li>
            <li><a href="#">Recomendaciones</a></li>
            <li><a href="#">Extras</a></li>
        </ul>
    </nav>

    <article>
        
    </article>
</div>

</body>
</html>
