<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galileo Galilei :: Extras</title>

    <link href="../styles/custom.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="educacion.html">Educación</a></li>
            <li><a href="#">Proyectos e intereses</a></li>
            <li><a href="recomendaciones.html">Recomendaciones</a></li>
            <li><a href="#">Extras</a></li>
        </ul>
    </nav>

    <article class="content">

        <section>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>

        </section>
    </article>

</div>

</body>
</html>
