<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galileo Galilei :: Extras</title>

    <link href="../styles/custom.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="educacion.html">Educación</a></li>
            <li><a href="#">Proyectos e intereses</a></li>
            <li><a href="recomendaciones.html">Recomendaciones</a></li>
            <li><a href="#">Extras</a></li>
        </ul>
    </nav>

    <article id="block">

        <div class="test test1">
            <h2>Test 1 -> width</h2>
        </div>

        <div class="test test2">
            <h2>Test 2 -> height</h2>
        </div>

        <div class="test test3">
            <h2>Test 3 -> margin</h2>
        </div>

        <div class="test test4">
            <h2>Test 4 -> padding</h2>
        </div>

        <div class="test test5">
            <h2>Test 5 -> border</h2>
        </div>

        <div class="test test6">
            <h3>Test 6 -> overflow: visible</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
        </div>

        <div class="test test7">
            <h3>Test 7 -> overflow: hidden</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
        </div>

        <div class="test test8">
            <h3>Test 8 -> overflow: scroll</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
        </div>

        <div class="test test9">
            <h3>Test 9 -> overflow: auto</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
            </p>
        </div>

    </article>

    <article id="inline">

        <div>
            <h1>Inline examples</h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                <span class="test test10">Test 10 -> width</span> Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
                Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
                Donec ut libero sed arcu vehicula ultricies a non tortor.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ut gravida lorem.
                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
                Pellentesque auctor nisi id magna consequat sagittis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                <span class="test test11">Test 11 -> height</span> Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
                Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
                Donec ut libero sed arcu vehicula ultricies a non tortor.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ut gravida lorem.
                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
                Pellentesque auctor nisi id magna consequat sagittis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                <span class="test test12">Test 12 -> margin</span> Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
                Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
                Donec ut libero sed arcu vehicula ultricies a non tortor.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ut gravida lorem.
                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
                Pellentesque auctor nisi id magna consequat sagittis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                <span class="test test13">Test 13 -> padding</span> Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
                Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
                Donec ut libero sed arcu vehicula ultricies a non tortor.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ut gravida lorem.
                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
                Pellentesque auctor nisi id magna consequat sagittis.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Donec a diam lectus.
                Sed sit amet ipsum mauris.
                Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit.
                <span class="test test14">Test 14 -> border</span> Donec et mollis dolor.
                Praesent et diam eget libero egestas mattis sit amet vitae augue.
                Nam tincidunt congue enim, ut porta lorem lacinia consectetur.
                Donec ut libero sed arcu vehicula ultricies a non tortor.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Aenean ut gravida lorem.
                Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.
                Pellentesque auctor nisi id magna consequat sagittis.
            </p>

        </div>

    </article>
</div>

</body>
</html>
