<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Galileo Galilei :: Recomendaciones</title>

    <link href="../styles/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="experiencia.html">Experiencia</a></li>
            <li><a href="educacion.html">Educación</a></li>
            <li><a href="#">Proyectos e intereses</a></li>
            <li><a href="#">Recomendaciones</a></li>
            <li><a href="extras.html">Extras</a></li>
        </ul>
    </nav>

    <article>

        <section>

            <h1>Videos</h1>

            <iframe frameborder="0" height="300px" width="500px"
                    src="https://youtube.com/embed/DSLgAsrcpGQ?autoplay=1&controls=0&showinfo=0&autohide=1">
            </iframe>

        </section>

    </article>
</div>

</body>
</html>
