/*  Class selectors  */
.container {
    margin: auto;
    width: 80%;
}


/*  Descendant selectors  */
nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    padding: 0 20px 0 0;
}


/*  Pseudo-class selectors  */
a:link {
    color: darkred;
}

a:visited {
    color: darkgoldenrod;
}

a:focus {
    color: coral;
}

a:hover {
    color: purple;
}

a:active {
    color: black;
}


/* Base styles */
#block {
    /*display: none;*/
}

#inline {
    display: none;
}

.test {
    background: yellow;
    /*display: inline-block;*/
}

.test6, .test7,
.test8, .test9 {
    float: left;
    height: 200px;
    margin-right: 2%;
    width: 22%;
}

/* TestDrive styles */
.test1 {
    width: 50%;
}

.test2 {
    height: 6em;
}

.test3 {
    margin: 4em ;
}

.test4 {
    padding: 4em;
}

.test5 {
    border: 1.5em solid red;
}

.test6 {
    overflow: visible;
}

.test7 {
    overflow: hidden;
}

.test8 {
    overflow: scroll;
}

.test9 {
    overflow: auto;
}

/*
.test10 {
    width: 30px;
}

.test11 {
    height: 4em;
}

.test12 {
    margin: 4em;
}

.test13 {
    padding: 4em;
}

.test14 {
    border: 1em solid darkred;
}
*/


